.field
  label.label(for='email') Email address
  input#email.input(type='email', name="email", placeholder='Enter email')
.field
  label.label(for='password') Password
  input#password.input(type='password', name="password", placeholder='Password')
