footer.footer
    .content.has-text-centered
        p
            strong averageReads
            p was created by Dan Black, Miah Barnes, Jony Almeida and John Matthews for a project @ appAcademy
    section.section
        div.container
            div.tile.is-ancestor.is-4
                div.tile.is-parent
                    div.tile.is-child.box.button.is-1
                div.tile.is-parent
                    div.tile.is-child.box.button.is-1
                div.tile.is-parent
                    div.tile.is-child.box.button.is-1
                div.tile.is-parent
                    div.tile.is-child.box.button.is-1
