extends start-page.pug
  div(class="log-in-container")
    div(class="errors-container")
    h2 Log In
    form(class="log-in-form")
      include includes/auth-form-fields
      button.button(type='submit') Log In
    a(href='/sign-up') Don't have an account? Sign up here.
  script(type="module" src="js/log-in.js")

  div(class="sign-up-container")
    div(class="errors-container")
    h2 Sign Up
    form(class="sign-up-form")
      .form-group
        label(for='username') Username
        input#username.form-control(type='text' name='username' placeholder="Username")
      include includes/auth-form-fields
      button.button.isprimary(type='submit') Sign Up
      a(href='/log-in') Already have an account? Log in here.
  script(type="module" src="js/sign-up.js")
