<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="js/index.js" type="module")
        link(rel="stylesheet", type="text/css" href="/style.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        title About Us | Averagereads
    body
        include navbar.pug
        section.section
            div.container.box.has-text-centered
                img(src="images/getjobs.png")
        include footer.pug
