<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="js/index.js" type="module")
        link(rel="stylesheet", type="text/css" href="/style.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        title About Us | Averagereads
    body
    include navbar.pug
    section.section
        div.container.box
            //- h1.title About Us
            //- h2.title The Squad
            div.tile.is-ancestor.is-vertical
                .tile.is-parent
                    .tile.is-child.is-4.box
                        img(src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" width="400px")
                    .tile.is-child.is-4
                    .tile.is-child.box.is-4.is-right
                        img(src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" width="400px")
                .tile.is-parent
                    .tile.is-child.is-4.box
                        img(src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" width="400px")
                    .tile.is-child.is-2
                    .tile.is-child.box.is-4.is-right
                        img(src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" width="400px")
            div.tile.is-ancestor.is-vertical.box
                .tile.is-parent
                    p.title Project Rundown!
                .tile.is-parent
                    p.title Objectives
                    p.h1 Give users a way to explore a database of "average" books they may not have heard of using technoligies taught by appAcademy.
                .tile.is-parent
                    p.title Technologies
                    div.tile.is-child
                        ul
                            li Javascript
                            li HTML
                            li CSS
                            li Bulma Framework
                    div.tile.is-child
                        ul
                            li PostgresSQL v12 RDBMS
                            li Sequelize ORM
                    .tile.is-child
                        ul
                            li NodeJS
                            li Express
                            li Heroku Deployment
                    .tile.is-child
                        ul
                            li Pug View Engine
                            li OAuth Authentication
                            li Bcrypt Hashing
                .tile.is-parent
                    p.title Database Funtionality/Objectives
                    ol
                        li Store user information
                        li Store book information
                        li Allow users to store books in a personal Bookshelf
                        li Store reviews specific to both Books and Users
                        li Add new books to the database
                        li Search database through the frontend with user-friendly UI
                .tile.is-parent
                    p.title User Stories
                    p.h1 User Stories help developers view their own product from the perspective of the consumer
                    ul
                        li As a user of averageReads webapp, I would like to create a personal collection of  books.
                        li As a user of averageReads webapp, I would like search for books by author, ratings, book name.
                        li As a user of averageReads webapp, I would like to register myself and have a profile page.
                        li As a user of averageReads webapp, I would like to add new books to the database.
                .tile.is-parent
                    p.title Database Models
                    div.tile.is-child
                        p.h1 User Model
                        ul
                            Username
