footer.footer
    p.has-text-centered
        strong averageReads
        p.has-text-centered was created by Dan Black, Miah Barnes, Jony Almeida and John Matthews for a project @ appAcademy
    section.section.has-text-centered
        div.container.has-text-centered
            div.tile.is-ancestor.has-text-centered
                div.tile.is-parent
                    div.tile.is-child
                        a(href='https://www.appacademy.io/')
                            img(src="/images/appacademy.png" width="50" height="50")
                            p appAcademy
                                div.tile.is-parent
                    div.tile.is-child
                        a(href='https://github.com/OnionQueenMemu/AverageReads')
                            img.thingy(src="/images/ghlogo.png" width="50" height="50")
                            p GitHub Repo
                                    div.tile.is-parent
                    div.tile.is-child
                        a(href='https://www.goodreads.com/')
                            img.thingy(src="/images/goodreads.png" width="50" height="50")
                            p goodreads
                                    div.tile.is-parent
                    div.tile.is-child
                        a(href='https://pugjs.org/api/getting-started.html')
                            img(src="/images/pug.png" width="50" height="50")
                            p Pug Engines
