nav.navbar.navigations(role="navigation" aria-label="man navigation")
            div.navbar-brand
                a.navbar-item
                    img(src="/images/logo-small.png"  width="120" height="42" id="avgreadsimages")
                a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
            div.navbar-menu(id="navbarBasicExample")
                div.navbar-start
                    a(id="home").navbar-item Home
                    a(id="mybooks").navbar-item My Books
                    div.navbar-item.has-dropdown.is-hoverable
                        a.navbar-link More
                        div.navbar-dropdown
                            a(id="aboutus").navbar-item About Us
                            a(id="ourmission").navbar-item Our Mission
                div.navbar-end
                    div.navbar-item
                        div.buttons
                            a.button.is-primary
                                strong Profile
                            a(id="logout").button.is-light
                                strong Log Out
script(src="js/dropdown.js")
script(src="js/navbar.js")
script(src="js/logout.js")
