<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="js/index.js" type="module")
        link(rel="stylesheet", type="text/css" href="/style.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        title Welcome | Averagereads
    body
        include navbar.pug
        section.section
            div.container.box
                p.title Books of the Week
                div.tile.is-ancestor.is-vertical
                    .tile.is-parent.has-text-centered
                        each Book in books
                            .tile.is-child
                                img(src=`${Book.image}` width="100" height="130" class="botw")
                                //-p.has-text-weight-medium=Book.title
                                p.has-text-weight-light=Book.author
                                p(class="botwId").is-hidden=Book.id
                    div.tile.is-parent
                        .tile.is-child.is-6
                            p.title Welcome to Averagereads
                            p.is-size-4 Averagereads was created by readers who are tired of seeing the same authors and publishers reach the front page of popular online bookstores like Amazon Kindle and Goodreads. It’s hard to find a great new story when you’ve already experienced the works of todays most popular authors. Averagereads is an attempt to solve two problems. One, is to allow readers to find under-marketed and even unpublished stories they may have never even heard of. Second, is to give exposure to the under-appreciated authors who are trying to break into the literary mainstream. Diamonds in the rough.
                        .tile.is-child.is-6
                            p.title Quote of the day
                            p.is-size-4.pb-2=qod.text
                            p=`-${qod.author}`
                    div.tile.is-parent.is-centered
                        .tile.is-child.is-6
                            div.title Weather
                                i(class="fas fa-sun").pl-4
                            p(id='city').is-size-4 Miami
                            p.pb-6.pt-4 Cloud coverage:
                                i(class="fas fa-cloud" id="cloud").is-size-4.pl-4
                            p.pb-6 Wind Speed:
                                i(class="fas fa-wind" id="wind").is-size-4.pl-4
                            p.pb-6 Temperature:
                                i(class="fas fa-temperature-high" id="temp").is-size-4.pl-4
                        .tile.is-child
                        .tile.is-child.is-6
                            div.title Book News
                            a.is-size-5.h1(href="https://www.youtube.com/watch?v=n9xhJrPXop4&ab_channel=WarnerBros.Pictures") Dune adaptation Trailer Released!
                            div.embed-container
                                iframe(src='https://www.youtube.com/embed/n9xhJrPXop4' frameborder='0' allowfullscreen)
                            p
                            a.h1.is-size-5(href="https://vegoutmag.com/losangeles/news-article.php?id=437") The Tiny Chef Releases a New Book for All Ages
                            div.embed-container
                                img(src="https://vegoutmag.com/images/news/437.jpg")





    include footer.pug
script(src="js/bookOfTheWeek.js")
script(src="js/weather.js")
script(src="https://kit.fontawesome.com/3200f90ea7.js" crossorigin="anonymous")
