<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css" href="/style.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        title Welcome | Averagereads
    body
        include navbar.pug
        section.section
            div.container.box
                p.title Books of the Week
                div.tile.is-ancestor.is-vertical.is-12
                    .tile.is-parent.box.has-text-centered
                            each Book in books
                                .tile.is-child
                                        img(src=`${Book.image}` width="100" height="130" class="botw")
                                        //-p.has-text-weight-medium=Book.title
                                        p.has-text-weight-light=Book.author
                                        p(class="botwId").is-hidden=Book.id
                    div.tile.is-parent.box
                        .tile.is-child.box
                            p.title Welcome bros
                        .tile.is-child.box
                            p.title Quote of the day
                            p.is-size-4.pb-2=qod.text
                            p=`-${qod.author}`
                    .tile.is-parent.box
                        .tile.is-child
                            div.title Weather

    include footer.pug
script(src="js/bookOfTheWeek.js")
script(src="js/weather.js")
