html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="js/index.js" type="module")
        title Google Books Embedded Viewer API Example
        script( type="text/javascript" src="https://www.google.com/books/jsapi.js")
        script(src="js/viewer.js" type="module")
        link(rel="stylesheet", type="text/css" href="/style.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
    body
    div(id="viewerCanvas" style="width: 700px; height: 500px")
